.font-weight-bold {
  font-weight: bold;
}

.font-style-italic {
  font-style: italic;
}

.text-align-center {
  text-align: center;
}

.text-red {
  color: red;
}

.ml-1rem {
  margin-left: 1rem;
}

.position-relative {
  position: relative;
}

.wrapper {
  padding: 50px;
}

.header {
  border-collapse: collapse;  
}

.header td {
  padding: 10px;
  border: 1px solid black;
}

.logo {
  width: 150px;
}

.footer {
  margin-top: 2rem;
}

.footer p {
  font-weight: bold;
}

.signature {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
}

.d-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.width-33 {
  width: 33%;
}

.ml-auto {
  margin-left: auto;
}
