body {
  font-family: 'Times New Roman', Times, serif;
}

.font-weight-bold {
  font-weight: bold;
}

.font-style-italic {
  font-style: italic;
}

.text-align-center {
  text-align: center;
}

.text-red {
  color: red;
}

.ml-1rem {
  margin-left: 1rem;
}

.position-relative {
  position: relative;
}

.wrapper {
  padding: 50px 100px;
}

.header td {
  border: 1px solid #000000;
}

.header {
  border-collapse: collapse;  
}

.px-30 {
  padding: 0 30px;
}

.px-5 {
  padding-left: 5px;
}

.margin-0 {
  margin: 10px 0;
}

.header p {
  margin: 8px 0;
}

.logo {
  width: 150px;
}

.footer {
  margin-top: 2rem;
}

.footer p {
  font-weight: bold;
}

.signature {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
}

.represent-company {
  display: inline-block;
  vertical-align: top;
  width: 66%;
}

.signature-wrapper {
  display: inline-block;
  width: 33%;
}

ol.agreement>li::marker {
  font-size: 24px;
  font-weight: bold;
}
